.calculator {
  align-items: center;
  box-shadow: -5px 5px 0.2px white;
  border: 3px solid #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 900px;
  width: 600px;
  font-size: larger;
  border-radius: 10px;
}

.display {
  text-shadow: -2px 2px #282c34;
  background-color: darkgreen;
  box-shadow: -3px 3px 0.2px white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  width: 90%;
  height: 60px;
  margin: 30px 0;
}

.button {
  box-shadow: -3px 3px 0.2px white;
  background-color: #282c34;
  font-size: 40px;
  padding: auto;
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  border: 3px solid white;
  height: 100px;
  transition: 0.2s;
  text-align: center;
  width: 110px;
  margin: 10px;
  border-radius: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 600px;
  padding: 10px;
}

.number-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 500px;
  margin: 30px 0;
}

.function-buttons {
  width: 150px;
  height: 495px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.function-buttons button {
  box-shadow: -3px 3px 0.2px white;
  background-color: #282c34;
  font-size: 40px;
  padding: auto;
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  border: 3px solid white;
  height: 100px;
  transition: 0.2s;
  text-align: center;
  width: 110px;
  margin: 10px;
  border-radius: 10px;
}

.function-buttons button:hover {
  box-shadow: -6px 6px 0.2px black;
  cursor: pointer;
  background-color: white;
  color: black;
  transition: 0.2s;
}

.function-buttons button:active {
  border: 3px solid black;
}

.button:hover {
  box-shadow: -6px 6px 0.2px black;
  cursor: pointer;
  background-color: white;
  color: black;
  transition: 0.2s;
}

.button:active {
  border: 3px solid black;
  box-shadow: -6px 6px 0.2px black;
}

.erase-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  width: 300px;
}

.erase-div button {
  border: 3px solid white;
  box-shadow: -3px 3px 0.2px white;
  background-color: #282c34;
  color: white;
  border-radius: 10px;
  height: 60px;
  transition: 0.2s;
}

.erase-div button:hover {
  background-color: white;
  box-shadow: -6px 6px 0.2px black;
  color: #282c34;
  transition: 0.2s;
}

.erase-div button:active {
  border: 3px solid black;
  box-shadow: -6px 6px 0.2px black;
}

.clear {
  font-size: 30px;
  width: 140px;
}

.delete {
  font-size: 30px;
  width: 140px;
}

footer {
  position: fixed;
  margin-top: 800px;
}

@media screen and (max-width: 600px) {
  .calculator {
    margin: 20px;
    width: 90%;
    height: 25.5em;
  }

  .erase-div {
    margin-right: 15px;
  }

  .display {
    margin-right: 5%;
  }

  .function-buttons button {
    width: 50%;
    height: 40px;
  }
  .buttons {
    width: 100%;
    height: 50%;
  }

  .number-buttons {
    width: 100%;
    height: 100%;
  }

  .number-buttons button {
    height: fit-content;
  }

  .button {
    width: 20%;
    height: 10%;
  }
}
